@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(0, 0, 0);
  --white: rgba(255, 255, 255);
  --black: rgba(0, 0, 0);
  --accent: #e2c227;
  --accentTwo: #ed9a40;
  --grey: #f6f8f9;
  --greyTwo: #eff6ff;
  --radius: 5px;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadowTwo: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --font: "Poppins", sans-serif;
}

html,
body {
  background-color: var(--grey);
  font-family: var(--font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: var(--borderRadius);
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--digikidsLightBlue);
  text-decoration: none;
}

a:active,
a:focus,
button:active,
button:focus {
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}
